%h1 Employer Profiles
%br
%br
.span9
  .row
    - unless @error.nil?
      .span9{:class => "alert alert-error"}= @error

    - unless @employers.nil?
      - @employers.each do |e|
        .row
          .span2
            - if e.photo.nil?
              %img{:src => "/images/companylogos/nologo.png"}
            - else
              %a{:href => "/employers/#{e.handle}"}
                %img{:src => "https://trd-assets.s3.amazonaws.com/#{e.photo}"}
          .span7
            %a{:href => "/profile/#{e.handle}"}
              %b= e.name
            - unless e.description.nil?
              %p= e.description.gsub("\n","<br >")
            %div
              %a{:href => "http://www.#{e.url}", :target => "_blank"}
                Visit website
            %br
            %br
