:javascript
  function editSection(section) {
    $("#" + section + "-new").hide();
    $("#" + section).hide();
    $("#" + section + "-update").show();
  }

  function addposting() {
    $("#posting-add").show();
  }

.row
  .span9
  - unless @error.nil?
    %div{:class => "alert alert-error"}= @error
%br
.row
  .span3
    - if @user.photo.nil?
      %form{:method => "POST", :action => "/upload", :enctype => "multipart/form-data"}
        .row
          .span5
            %p No logo uploaded.
            %input{:name => 'action', :value => 'photo', :type => 'hidden'}
            %input{:name => 'file', :type => 'file'}
            %br/
            %button{:type => "submit", :class => "btn btn-success"} Upload
    - else
      %img{:src => "https://trd-assets.s3.amazonaws.com/#{@user.photo}" }
%br

.row
  .span5
    %h1
      = @user.name
      %a.edit{:href => "#", :onClick => "editSection('about')"}
        %i{:class => "icon-pencil"}
    %a{:href => "#{@user.url}"}= @user.url

.row{:id => "about-forms"}
  - if @user.address.nil? && @user.city.nil? && @user.state.nil? && @user.zipcode.nil? && @user.description.nil?
    #about-new.span8{:style => "display:block;"}
      %form{:method => "POST", :action => "#", :class => "form-horizontal"}
        %input{:type => "hidden", :name => "action", :value => "about"}
        %fieldset
          %label Street address
          %input{:type => "text", :value => "#{@user.address}", :name => "address"}
          %label City
          %input{:type => "text", :value => "#{@user.city}", :name => "city"}
          .row
            %label{:class => "span1"} State
            %label{:class => "span2"} Zipcode
          .row
            .span1
              %input{:type => "text", :value => "#{@user.state}", :name => "state", :class => "span1"}
            .span2
              %input{:type => "text", :value => "#{@user.zipcode}", :name => "zipcode", :class => "span2"}
          %label About
          %textarea{:name => "description", :value => "#{@user.description}", :class => "span5"}
          %button{:type => "submit", :class => "btn btn-success"} Save these changes

  - else
    #about-update.span6{:style => "display:none;"}
      %br
      %form{:method => "POST", :action => "#"}
        %input{:type => "hidden", :name => "action", :value => "about"}
        %fieldset
          %label Street address
          %input{:type => "text", :value => "#{@user.address}", :name => "address"}
          %label City
          %input{:type => "text", :value => "#{@user.city}", :name => "city"}
          .row
            %label{:class => "span1"} State
            %label{:class => "span2"} Zipcode
          .row
            .span1
              %input{:type => "text", :value => "#{@user.state}", :name => "state", :class => "span1"}
            .span2
              %input{:type => "text", :value => "#{@user.zipcode}", :name => "zipcode", :class => "span2"}
          %label About
          %textarea{:name => "description", :class => "span5"} #{@user.description}
          %button{:type => "submit", :class => "btn btn-success"} Save these changes

#about
  %br
  - unless @user.description.nil?
    .row
      .span9
        %p
          %b About
          %br
            =@user.description.gsub("\n", "<br />")

  - unless @user.address.nil? && (@user.city.nil? || @user.state.nil? || @user.zipcode.nil?)
    .row
      .span5
        %p
          %b Location
          %br
          - unless @user.address.nil?
            =@user.address
            %br
          - unless @user.city.nil? || @user.state.nil? || @user.zipcode.nil?
            = "#{@user.city}, #{@user.state} #{@user.zipcode}"
  .row
    - unless @user.founded.nil?
      .span5
        %b Founded
        %br= @user.founded

  %br

.row
  .span9
    %h2
      Job and Internship postings
      %a.edit{:onClick => "addposting()"}
        %i{:class => "icon-plus"}
%br

  #posting-info
  - if @user.postings.nil?
    %p No job postings are currently available.
  - else
    - @user.postings.each do |post|
      .row
        .span8
          %h4= post.position
          %p= post.description
          %p
            Duration:
            %span= post.start_date.strftime("%B %d, %Y")
            %span &mdash;
            %span= post.end_date.strftime("%B %d, %Y")
          - if post.class.nil?
            %p All classes are being accepted.
          - else
            %p Minimum class year: #{post.class}
          %p Qualifications expected: #{post.qualifications}
          - if post.deadline < Date.today
            %p.red Sorry, the deadline has already passed.
          - else
            %p.green= post.deadline.strftime("Deadline: %B %d, %Y")
          %a{:class => "red", :href => "profile/delete/posting/#{post.id}"}
            Delete this entry
      %br

  / posting add form
  #posting-add{:style => "display:none"}
    %form{:method => "POST", :action => "#"}
      %input{:type => "hidden", :name => "action", :value => "posting"}
      %hr
      %h4 Add a posting
      %br
      .row
        .span2
          %input{:type => "text", :placeholder => "Position", :name => "position", :class => "span2"}
        .span2
          %input{:type => "text", :placeholder => "Place", :name => "place", :class => "span2"}
        .span2{:class => "input-prepend"}
          %span{:class => "add-on"} Start
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "start_date", :class => "dateinput"}
        .span2{:class => "input-prepend"}
          %span{:class => "add-on"} End
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "end_date", :class => "dateinput"}
        %br
        .span8
          %textarea{:class => "span8", :name => "description", :placeholder => "Description" }
        %br
        .span8
          %textarea{:class => "span8", :name => "qualifications", :placeholder => "Qualifications" }
        %br
      .row
        .span2
          %input{:type => "text", :placeholder => "Minimum class year", :name => "class", :class => "span2"}
        .span4{:class => "input-prepend"}
          %span{:class => "add-on"} Application Deadline
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "deadline", :class => "dateinput"}
      .row
        .span3
          %input{:type => "text", :placeholder => "Contact name", :name => "contact_name", :class => "span3"}
        .span3
          %input{:type => "text", :placeholder => "Contact email", :name => "contact_email", :class => "span3"}
      %br
      .row
        .span5
          %button{:type => "submit", :class => "btn btn-success"} Save changes
      %hr
