- unless @error.nil?
  .row
    .span9
      %div{:class => "alert alert-error"}= @error
%br
.row
  .span3
    - if @user.photo.nil?
      .row
        .span5
          %p No logo uploaded.
          %form{:method => "POST", :action => "/upload", :enctype => "multipart/form-data"}
            %input{:name => 'action', :value => 'photo', :type => 'hidden'}
            %input{:name => 'file', :type => 'file', :class => "file-upload"}
            %a.btn-upload.btn
              %i.icon-picture
              Choose file
            %button.btn.btn-success{:type => "submit"}
              %i.icon-upload.icon-white
              Upload
    - else
      %img{:src => "https://trd-assets.s3.amazonaws.com/#{h @user.photo}" }

#about
  .row
    .span5
      %h2
        = @user.name
        %i.edit-icon.icon-pencil
      %p<
        %a{:href => "http://#{h @user.url}", :target => "_blank"}=h @user.url

    - if @user.address.nil? && @user.city.nil? && @user.state.nil? && @user.zipcode.nil? && @user.description.nil?
      .alert.alert-warning.span6
        Complete all the fields below so that students can find you easily!
      .span8
        %form{:method => "POST", :action => "#"}
          %input{:type => "hidden", :name => "action", :value => "about"}
          .row
            %strong.span2 Street address
            %input{:type => "text", :placeholder => "Street address", :name => "address"}
          .row
            %strong.span2 City
            %input{:type => "text", :placeholder => "City", :name => "city"}
          .row
            %strong.span2 State
            %input.input-mini{:type => "text", :placeholder => "State", :name => "state"}
          .row
            %strong.span2 Zipcode
            %input.input-mini{:type => "text", :placeholder => "Zipcode", :name => "zipcode"}
          .row
            %strong.span2 About
            .span6
              .row
                %textarea{:name => "description", :placeholder => "Enter description here...", :class => "span5"}
          .row
            .span3.offset2
              .row
                %button{:type => "submit", :class => "btn btn-success"} Save these changes

    - else
      .edit.span6{:style => "display:none;"}
        %br
        %form{:method => "POST", :action => "#"}
          %input{:type => "hidden", :name => "action", :value => "about"}
          %fieldset
            %label Street address
            - if @user.address.nil?
              %input{:type => "text", :placeholder => "Street address", :name => "address"}
            - else
              %input{:type => "text", :placeholder => "Street address", :value => "#{h @user.address}", :name => "address"}
            %label City
            - if @user.city.nil?
              %input{:type => "text", :placeholder => "City", :name => "city"}
            - else
              %input{:type => "text", :placeholder => "City", :value => "#{h @user.city}", :name => "city"}
            .row
              %label{:class => "span1"} State
              %label{:class => "span2"} Zipcode
            .row
              .span1
                - if @user.state.nil?
                  %input.input-mini{:type => "text", :placeholder => "State", :name => "state"}
                - else
                  %input.input-mini{:type => "text", :placeholder => "State", :value => "#{h @user.state}", :name => "State"}
              .span2
                - if @user.zipcode.nil?
                  %input.input-small{:type => "text", :placeholder => "Zipcode", :name => "zipcode"}
                - else
                  %input.input-small{:type => "text", :placeholder => "Zipcode", :value => "#{h @user.zipcode}", :name => "zipcode"}
            %label About
            - if @user.description.nil?
              %textarea{:name => "description", :placeholder => "Enter description here...",:class => "span6"} #{h @user.description}
            - else
              %textarea{:name => "description", :placeholder => "Enter description here...", :class => "span6"} #{h @user.description}
            %button{:type => "submit", :class => "btn btn-success"} Save these changes

    .info.span9
      - unless @user.description.nil?
        .row
          .span9
            %p
              %strong About
              %br
                =h @user.description.gsub("\n", "<br />")

      - unless @user.address.nil? && @user.city.nil? && @user.state.nil? && @user.zipcode.nil?
        .row
          .span5
            %p
              %strong Location
              %br
              - unless @user.address.nil?
                =h @user.address
                %br
              - unless @user.city.nil?
                = "#{h @user.city}, #{h @user.state} #{h @user.zipcode}"
              - else
                = "#{h @user.state} #{h @user.zipcode}"

      .row
        - unless @user.founded.nil?
          .span5
            %b Founded
            %p=h @user.founded

%hr/


#posting
.row
  .span9
    %h2
      Job and Internship postings
      %i{:class => "icon-plus add-icon"}

  / posting add form
  .add.span9{:style => "display:none"}
    %form{:method => "POST", :action => "#"}
      %input{:type => "hidden", :name => "action", :value => "posting"}
      %hr
      %h4 Add a posting
      %br
      .row
        .span2
          %input{:type => "text", :placeholder => "Position", :name => "position", :class => "span2"}
        .span2
          %input{:type => "text", :placeholder => "Place", :name => "place", :class => "span2"}
        .span2{:class => "input-prepend"}
          %span{:class => "add-on"} Start
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "start_date", :class => "dateinput"}
        .span2{:class => "input-prepend"}
          %span{:class => "add-on"} End
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "end_date", :class => "dateinput"}
        %br
        .span8
          %textarea{:class => "span8", :name => "description", :placeholder => "Description" }
        %br
        .span8
          %textarea{:class => "span8", :name => "qualifications", :placeholder => "Qualifications" }
        %br
      .row
        .span2
          %input{:type => "text", :placeholder => "Minimum class year", :name => "class", :class => "span2"}
        .span4{:class => "input-prepend"}
          %span{:class => "add-on"} Application Deadline
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "deadline", :class => "dateinput"}
      .row
        .span3
          %input{:type => "text", :placeholder => "Contact name", :name => "contact_name", :class => "span3"}
        .span3
          %input{:type => "text", :placeholder => "Contact email", :name => "contact_email", :class => "span3"}
      %br
      .row
        .span5
          %button{:type => "submit", :class => "btn btn-success"} Save changes
      %hr

  .info.span9
    - if @postings.length.zero?
      .row
        .alert.alert-warning.span6 You haven't submitted any postings. Add them now!
    - else 
      - @postings.each do |post|
        - unless post.deleted
          .row
            .span8
              %strong=h post.position
              %p=h post.description
              %p
                Duration:
                %span=h post.start_date.strftime("%B %d, %Y")
                %span &mdash;
                %span=h post.end_date.strftime("%B %d, %Y")
              - if post.class.nil?
                %p All classes are being accepted.
              - else
                %p Minimum class year: #{h post.class}
              %p Qualifications expected: #{h post.qualifications}
              - if post.deadline < Date.today
                %p.text-warning This deadline has already passed.
              - else
                %p.text-info= post.deadline.strftime("Deadline: %B %d, %Y")
              %a{:class => "text-error", :href => "profile/delete/posting/#{h post.id}"}
                Delete this entry
          %br

- unless @user.photo.nil?
  .row
    .span6
      %h3 Upload new logo
      %form{:method => "POST", :action => "/upload", :enctype => "multipart/form-data"}
        %input{:name => 'action', :value => 'photo', :type => 'hidden'}
        %input{:name => 'file', :type => 'file', :class => "file-upload"}
        %a.btn-upload.btn
          %i.icon-picture
          Choose file
        %button.btn.btn-success{:type => "submit"}
          %i.icon-upload.icon-white
          Upload
