%h1 Employer Profiles
%br
- unless @error.nil?
  .row
    .span4{:class => "alert alert-error"}= @error

- unless @employers.nil?
  - @employers.each do |e|
    - if e.display
      .row
        .span2
          - if e.photo.nil?
            %img{:src => "/images/companylogos/nologo.png"}
          - else
            %a{:href => "/profile/#{h e.handle}"}
              %img{:src => "https://mygrad-assets.s3.amazonaws.com/#{h e.photo}"}
        .span7
          %a{:href => "/profile/#{h e.handle}"}
            %b=h e.name
          - unless e.description.nil?
            %p=h e.description.gsub("\n","<br >")
          %div
            %a{:href => "#{h e.url}", :target => "_blank"}
              Visit website