:javascript
  function editSection(section) {
    $("#" + section).hide();
    $("#" + section + "-edit").show();
  }

  function addListing() {
    $("#listing-add").show();
  }

.row
  .span9
  - unless @error.nil?
    %div{:class => "alert alert-error"}= @error
%br
.row
  .span3
    %img{:src => "https://trd-assets.s3.amazonaws.com/#{@user.photo}" }
  .span5
    %h1= @user.name
    %a{:href => "#{@user.url}"}= @user.url

%br
.row
  .span6
    %h2
      About
      %a.edit{:href => "#", :onClick => "editSection('about')"}
        %i{:class => "icon-pencil"}
%br
.row
  .span8
    #about
      %p= @user.description
      .row
        .span5
          %b= @user.name
          %p
            =@user.address
            %br
            = "#{@user.city}, #{@user.state} #{@user.zipcode}"
        .span5
          %b Founded
          %br= @user.founded
        - if @user.school.nil? && @user.major.nil? && @user.minor.nil? && @user.class.nil? && @user.gpa.nil?
          #education-edit.span8{:style => "display:block;"}
            .row
              .span2.bold School
              .span3
                %input{:type => "text", :value => "#{@user.school}", :name => "school"}
            .row
              .span2.bold Major
              .span3
                %input{:type => "text", :value => "#{@user.major}", :name => "major"}
            .row
              .span2.bold Minor
              .span3
                %input{:type => "text", :value => "#{@user.minor}", :name => "minor"}
            .row
              .span2.bold Class
              .span3
                %input{:type => "text", :value => "#{@user.class}", :name => "class"}
            .row
              .span2.bold GPA
              .span3
                %input{:type => "text", :value => "#{@user.gpa}", :name => "gpa"}

            .row{:class => "button"}
              .span5
                %button{:type => "submit", :class => "btn btn-success"} Save these changes

        - else
          #education-edit.span8{:style => "display:none;"}
            .row
              .span2.bold School
              .span3
                %input{:type => "text", :value => "#{@user.school}", :name => "school"}
            .row
              .span2.bold Major
              .span3
                %input{:type => "text", :value => "#{@user.major}", :name => "major"}
            .row
              .span2.bold Minor
              .span3
                %input{:type => "text", :value => "#{@user.minor}", :name => "minor"}
            .row
              .span2.bold Class
              .span3
                %input{:type => "text", :value => "#{@user.class}", :name => "class"}
            .row
              .span2.bold GPA
              .span3
                %input{:type => "text", :value => "#{@user.gpa}", :name => "gpa"}
            .row{:class => "button"}
              .span5
                %button{:type => "submit", :class => "btn btn-success"} Save these changes

    - if @user.is_employer
      %form{:method => "POST", :action => "#"}
        %input{:type => "hidden", :name => "action", :value => "info"}
        #about-edit{:style => "display:none"}
          %label Description
          %textarea{:name => "description", :class => "span8"}
            =@user.description
          %br
          %hr
          %label
            Address
            %input{:type => "text", :value => "#{@user.address}", :name => "address"}
          %label
            City
            %input{:type => "text", :value => "#{@user.city}", :name => "city"}
          %label
            State
            %br
            %input{:type => "text", :value => "#{@user.state}", :name => "state", :class => "span1"}
          %label
            Zipcode
            %input{:type => "text", :value => "#{@user.zipcode}", :name => "zipcode", :class => "span1"}
          %hr
          %label Founded
          %input{:type => "text", :value => "#{@user.founded}", :name => "founded"}
          %br
          %br
          .row{:class => "button"}
            .span5
              %button{:type => "submit", :class => "btn btn-success"} Save these changes
        
%br

.row
  .span9
    %h2
      Job and Internship Listings
      %a.edit{:onClick => "addListing()"}
        %i{:class => "icon-plus"}
%br

  #listing-info
  - if @user.postings.nil?
    %p No job listings are currently available.
  - else
    - @user.postings.each do |post|
      .row
        .span8
          %h4= post.position
          %p= post.description
          %p
            Duration:
            %span= post.start_date.strftime("%B %d, %Y")
            %span &mdash;
            %span= post.end_date.strftime("%B %d, %Y")
          - if post.class.nil?
            %p All classes are being accepted.
          - else
            %p Minimum class year: #{post.class}
          %p Qualifications expected: #{post.qualifications}
          - if post.deadline < Date.today
            %p.red Sorry, the deadline has already passed.
          - else
            %p.green= post.deadline.strftime("Deadline: %B %d, %Y")
          %a{:class => "red", :href => "profile/delete/posting/#{post.id}"}
            Delete this entry
      %br

    / listing add form
  #listing-add{:style => "display:none"}
    %form{:method => "POST", :action => "#"}
      %input{:type => "hidden", :name => "action", :value => "listing"}
      %hr
      %h4 Add a listing
      %br
      .row
        .span2
          %input{:type => "text", :placeholder => "Position", :name => "position", :class => "span2"}
        .span2
          %input{:type => "text", :placeholder => "Place", :name => "place", :class => "span2"}
        .span2{:class => "input-prepend"}
          %span{:class => "add-on"} Start
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "start_date", :class => "dateinput"}
        .span2{:class => "input-prepend"}
          %span{:class => "add-on"} End
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "end_date", :class => "dateinput"}
        %br
        .span8
          %textarea{:class => "span8", :name => "description", :placeholder => "Description" }
        %br
        .span8
          %textarea{:class => "span8", :name => "qualifications", :placeholder => "Qualifications" }
        %br
      .row
        .span2
          %input{:type => "text", :placeholder => "Minimum class year", :name => "class", :class => "span2"}
        .span4{:class => "input-prepend"}
          %span{:class => "add-on"} Application Deadline
          %input{:type => "text", :placeholder => "DD/MM/YYYY", :name => "deadline", :class => "dateinput"}
      .row
        .span3
          %input{:type => "text", :placeholder => "Contact name", :name => "contact_name", :class => "span3"}
        .span3
          %input{:type => "text", :placeholder => "Contact email", :name => "contact_email", :class => "span3"}
      %br
      .row
        .span5
          %button{:type => "submit", :class => "btn btn-success"} Save changes
      %hr
