%h1 Job postings
%br

.row
  - unless @error.nil?
    .span9{:class => "alert alert-error"}= @error

.row
  .span8
    - unless @postings.nil?
      %table{:class => "table table-hover"}
        %thead
          %tr
            %th Company
            %th Position
            %th Place
            %th Deadline
        %tbody
          - @postings.each do |p|
            %tr
              %td
                %a{:href => "/profile/#{p.employer.handle}"}= p.employer.name
              %td= p.position
              %td= p.place
              %td= p.deadline.strftime("%B %d, %Y")
