.row
  .span3
    - unless @employer.photo.nil?
      %img{:src => "https://trd-assets.s3.amazonaws.com/#{h @employer.photo}" }
%br

.row
  .span5
    %h1
      =h  @employer.name
    %a{:href => "#{h @employer.url}"}=h  @employer.url

#about
  %br
  - unless @employer.description.nil?
    .row
      .span9
        %p
          %strong About
          %br
            =h @employer.description.gsub("\n", "<br />")

  - unless @employer.address.nil? && (@employer.city.nil? || @employer.state.nil? || @employer.zipcode.nil?)
    .row
      .span5
        %p
          %strong Location
          %br
          - unless @employer.address.nil?
            =h @employer.address
            %br
          - unless @employer.city.nil? || @employer.state.nil? || @employer.zipcode.nil?
            = "#{h @employer.city}, #{h @employer.state} #{h @employer.zipcode}"
  .row
    - unless @employer.founded.nil?
      .span5
        %b Founded
        %br=h  @employer.founded

%hr

.row
  .span9
    %h2
      Job and Internship postings
%br

  #posting-info
  - if @postings.length.zero?
    %p No job postings are currently available.
  - else
    - @postings.each do |post|
      .row
        .span8
          %strong=h  post.position
          %p=h  post.description
          %p
            Duration:
            %span=h  post.start_date.strftime("%B %d, %Y")
            %span.muted &mdash;
            %span=h  post.end_date.strftime("%B %d, %Y")
          - if post.class.nil?
            %p All classes are being accepted.
          - else
            %p Minimum class year: #{h post.class}
          %p Qualifications expected: #{h post.qualifications}
          - if post.deadline < Date.today
            %p.text-warning Sorry, the deadline has already passed.
          - else
            %p.text-info=h  post.deadline.strftime("Deadline: %B %d, %Y")
      %br
