.row
  - unless @student.photo.nil?
    .span1
      %img{:src => "https://mygrad-assets.s3.amazonaws.com/#{h @student.photo}", :class => "img-polaroid student-profile-pic"}
  .span5
    %h1= @student.name
    - if @student.resume.nil?
      %p Currently no resume uploaded.
    - else
      %a{:href => "https://mygrad-assets.s3.amazonaws.com/#{h @student.resume}", :target => "_blank"} View current resume
%hr

/education
.row
  .span5
    %h2
      Education
.row
  #education.span8
    - unless @student.school.nil?
      .row
        .span2.bold School
        .span3=h @student.school

    - unless @student.major.nil?
      .row
        .span2.bold Major
        .span3=h @student.major

    - unless @student.minor.nil?
      .row
        .span2.bold Minor
        .span3=h @student.minor

    - unless @student.class.nil?
      .row.clearfix
        .span2.bold Class year
        .span3=h @student.class.strftime('%Y')

    - unless @student.gpa.nil?
      .row
        .span2.bold GPA
        .span3=h @student.gpa
%hr

/ work experience
.row
  .span5
    %h2
      Work Experience

.row
  .span8
    - if @experiences.length.zero?
      .workexperience-info
        %p No work experience information found.
    -else
      - @experiences.each do |exp|
        .row.workexperience-info
          .row.span8
            %span.larger
              %strong=h exp.position
              %span.muted at
              %strong=h exp.place
          .row.span8
            .muted= "#{h exp.start_date.strftime('%B %Y')} to #{h exp.end_date.strftime('%B %Y')}"
          .row.span8
            =h exp.desc.gsub("\n", "<br />")
        %br/
%hr

/ extracurriculars
.row
  .span5
    %h2
      Extracurricular Activites

.row
  .span8
    - if @extracurriculars.length.zero?
      .extracurricular-info
        %p No extracurricular information found.
    -else
      - @extracurriculars.each do |extracurricular|
        .row.extracurricular-info
          .row.span8
            %span.larger
              %strong=h extracurricular.position
              %span.gray at
              %strong=h extracurricular.place
          .row.span8
            .gray= "#{h extracurricular.start_date.strftime('%B %Y')} to #{h extracurricular.end_date.strftime('%B %Y')}"
          .row.span8
            =h extracurricular.desc.gsub("\n", "<br />")
        %br/
%hr

/ personal
.row
  .span5
    %h2
      Personal

.row
  .bold.span2 Primary email
  .span4=h @student.email
- unless @student.secondary_email.nil?
  .row
    .bold.span2 Personal email
    .span4=h @student.secondary_email
- unless @student.interest1.nil?
  .row
    .bold.span2 Interest one
    .span4=h @student.interest1
- unless @student.interest2.nil?
  .row
    .bold.span2 Interest two
    .span4=h @student.interest2
- unless @student.interest3.nil?
  .row
    .bold.span2 Interest three
    .span4=h @student.interest3
%hr
