:javascript
  function editSection(section) {
    $("#" + section).hide();
    $("#" + section + "-edit").show();
  }

  function editExp(section, method) {
    if (method == 'add') {
      $("#" + section + "-add").show();
    }
  }

- unless @error.nil?
  .row
    .span9
      %div{:class => "alert alert-error"}= @error
- unless @success.nil?
  .row
    .span9
      %div{:class => "alert alert-success"}= @success
%br
%h1= @user.name
%br

.row
  .alert.alert-warning.span8
    Complete all the fields below so that employers can find you easily!

/education
%form{:method => "POST", :action => "#"}
  %input{:type => "hidden", :name => "action", :value => "education"}
  .row
    .span5
      %h2
        Education
        %a.edit{:href => "#", :onClick => "editSection('education')"}
          %i{:class => "icon-pencil"}
      %br

    - if @user.school.nil? && @user.major.nil? && @user.minor.nil? && @user.class.nil? && @user.gpa.nil?
      #education-edit.span8{:style => "display:block;"}
        .row
          .span2.bold School
          .span3
            %input{:type => "text", :value => "#{@user.school}", :name => "school"}
        .row
          .span2.bold Major
          .span3
            %input{:type => "text", :value => "#{@user.major}", :name => "major"}
        .row
          .span2.bold Minor
          .span3
            %input{:type => "text", :value => "#{@user.minor}", :name => "minor"}
        .row
          .span2.bold Class
          .span3
            %input{:type => "text", :value => "#{@user.class}", :name => "class"}
        .row
          .span2.bold GPA
          .span3
            %input{:type => "text", :value => "#{@user.gpa}", :name => "gpa"}

        .row{:class => "button"}
          .span5
            %button{:type => "submit", :class => "btn btn-success"} Save these changes

    - else
      #education-edit.span8{:style => "display:none;"}
        .row
          .span2.bold School
          .span3
            %input{:type => "text", :value => "#{@user.school}", :name => "school"}
        .row
          .span2.bold Major
          .span3
            %input{:type => "text", :value => "#{@user.major}", :name => "major"}
        .row
          .span2.bold Minor
          .span3
            %input{:type => "text", :value => "#{@user.minor}", :name => "minor"}
        .row
          .span2.bold Class
          .span3
            %input{:type => "text", :value => "#{@user.class}", :name => "class"}
        .row
          .span2.bold GPA
          .span3
            %input{:type => "text", :value => "#{@user.gpa}", :name => "gpa"}
        .row{:class => "button"}
          .span5
            %button{:type => "submit", :class => "btn btn-success"} Save these changes

      #education.span8
        - unless @user.school.nil?
          .row
            .span2.bold School
            .span3= @user.school

        - unless @user.major.nil?
          .row
            .span2.bold Major
            .span3= @user.major

        - unless @user.minor.nil?
          .row
            .span2.bold Minor
            .span3= @user.minor

        - unless @user.class.nil?
          .row.clearfix
            .span2.bold Class year
            .span3= @user.class

        - unless @user.gpa.nil?
          .row
            .span2.bold GPA
            .span3= @user.gpa

%hr

/ work experience
%form{:method => "POST", :action => "#"}
  %input{:type => "hidden", :name => "action", :value => "work"}
  .row
    .span5
      %h2
        Work Experience
        %a.edit{:onClick => "editExp('workexperience' ,'add')"}
          %i{:class => "icon-plus"}
  %br

  - if @user.experiences.length.zero?
    .workexperience-info
      %p No work experience information found.
  -else
    - @user.experiences.each do |exp|
      .row.workexperience-info
        .row.span8
          %span.larger
            %strong= exp.position
            %span.gray at
            %strong= exp.place
          .pull-right
            = "#{exp.start_date.strftime('%B %Y')} to #{exp.end_date.strftime('%B %Y')}"
            %a{:class => "remove", :href => "profile/delete?id=#{exp.id}"}
              %i{:class => "icon-remove"}
        .row.span8
          .gray= exp.desc
      %br

  / work experience add form
  #workexperience-add{:style => "display:none"}
    %hr
    %h4 Add work experience
    %br
    .row
      .span2
        %input{:type => "text", :placeholder => "Position", :name => "position", :class => "span2"}
      .span2
        %input{:type => "text", :placeholder => "Place", :name => "place", :class => "span2"}
      .span2{:class => "input-prepend"}
        %span{:class => "add-on"} Start
        %input{:type => "text", :placeholder => "MM/YYYY", :name => "start_date", :class => "dateinput"}
      .span2{:class => "input-prepend"}
        %span{:class => "add-on"} End
        %input{:type => "text", :placeholder => "MM/YYYY", :name => "end_date", :class => "dateinput"}
      %br
      .span8
        %textarea{:class => "span8", :name => "desc", :placeholder => "Description" }
      %br
      .span5
        %button{:type => "submit", :class => "btn btn-success"} Save changes

%hr

/ extra curriculars
%form{:method => "GET", :action => "#"}
  %input{:type => "hidden", :name => "action", :value => "extracurricular"}
  .row
    .span5
      %h2
        Extracurricular Activites
        %a.edit{:onClick => "editExp('extracurricular' ,'add')"}
          %i{:class => "icon-plus"}
  %br

  - if @user.extracurriculars.length.zero?
    .extracurricular-info
      %p No extracurricular information found.
  -else
    - @user.extracurriculars.each do |extracurricular|
      .row.extracurricular-info
        .row.span8
          %span.larger
            %strong= extracurricular.position
            %span.gray at
            %strong= extracurricular.place
          .pull-right
            = "#{extracurricular.start_date.strftime('%B %Y')} to #{extracurricular.end_date.strftime('%B %Y')}"
            %a{:class => "remove", :href => "profile/delete?id=#{extracurricular.id}"}
              %i{:class => "icon-remove"}
        .row.span8
          .gray= extracurricular.desc
      %br

  / extracurricular add form
  #extracurricular-add{:style => "display:none"}
    %hr
    %h4 Add an extracurricular activity
    %br
    .row
      .span2
        %input{:type => "text", :placeholder => "Position", :name => "position", :class => "span2"}
      .span2
        %input{:type => "text", :placeholder => "Place", :name => "place", :class => "span2"}
      .span2{:class => "input-prepend"}
        %span{:class => "add-on"} Start
        %input{:type => "text", :placeholder => "MM/YYYY", :name => "start_date", :class => "dateinput"}
      .span2{:class => "input-prepend"}
        %span{:class => "add-on"} End
        %input{:type => "text", :placeholder => "MM/YYYY", :name => "end_date", :class => "dateinput"}
      %br
      .span8
        %textarea{:class => "span8", :name => "desc", :placeholder => "Description" }
      %br
      .span5
        %button{:type => "submit", :class => "btn btn-success"} Save changes

%hr

/ personal
%form{:action => "#", :method => "POST"}
  %input{:type => "hidden", :name => "action", :value => "personal"}
  .row
    .span5
      %h2
        Personal
        %a.edit{:href => "#", :onClick => "editSection('personal')"}
          %i{:class => "icon-pencil"}
  %br
    #personal
      .row
        .bold.span2 Primary email
        .span4= @user.email
      - unless @user.secondary_email.nil?
        .row
          .bold.span2 Personal email
          .span4= @user.secondary_email
      - unless @user.interest1.nil?
        .row
          .bold.span2 Interest one
          .span4= @user.interest1
      - unless @user.interest2.nil?
        .row
          .bold.span2 Interest two
          .span4= @user.interest2
      - unless @user.interest3.nil?
        .row
          .bold.span2 Interest three
          .span4= @user.interest3

    #personal-edit{:style => "display:none;"}
      .row
        .span2.bold Primary email
        .span4= @user.email
      .row
        .span2.bold Personal email
        .span3
          %input{:type => "text", :value => "#{@user.secondary_email}", :name => "secondary_email"}
      .row
        .span2.bold Interest one
        .span3
          %select{:name => "interest1"}
            - @interests.each do |i|
              %option{:value => "#{i}"}= i

      .row
        .span2.bold Interest two
        .span3
          %select{:name => "interest2"}
            - @interests.each do |i|
              %option{:value => "#{i}"}= i
      .row
        .span2.bold Interest three
        .span3
          %select{:name => "interest3"}
            - @interests.each do |i|
              %option{:value => "#{i}"}= i

      .row{:class => "button"}
        .span5
          %button{:type => "submit", :class => "btn btn-success"} Save these changes
