- unless @error.nil?
  .row
    .span9
      %div{:class => "alert alert-error"}= @error
- unless @success.nil?
  .row
    .span9
      %div{:class => "alert alert-success"}= @success

%h1= @user.name
.row
  .span6#resume
    - if @user.resume.nil?
      %p Currently no resume uploaded.
    - else
      %a{:href => "https://mygrad-assets.s3.amazonaws.com/#{@user.resume}", :target => "_blank"} View current resume
%br/

/education
#education
  .row
    .span9
      %h2
        Education
        %i.edit-icon.icon-pencil

    - if @user.school.nil? && @user.major.nil? && @user.minor.nil? && @user.class.nil? && @user.gpa.nil?
      .alert.alert-warning.span6
        Complete all the fields below so that employers can find you easily!
      .span7.edit{:style => "display:block;"}
        %form{:method => "POST", :action => "#", :class => "form-inline"}
          %input{:type => "hidden", :name => "action", :value => "education"}
          .row.control-group
            %strong.span2 School
            %input.span3{:type => "text", :placeholder => "School", :name => "school"}
          .row.control-group
            %strong.span2 Major
            %input.span3{:type => "text", :placeholder => "Major", :name => "major"}
          .row.control-group
            %strong.span2 Minor
            %input.span3{:type => "text", :placeholder => "Minor", :name => "minor"}
          .row.control-group
            %strong.span2 Class
            %input.span3{:type => "text", :placeholder => "Class", :name => "class"}
            .help-inline.hide Must be in the form YYYY.
          .row.control-group
            %strong.span2 GPA
            %input.span3{:type => "text", :placeholder => "GPA", :name => "gpa"}
            .help-inline.hide Must be a valid number.
          .row
            .span4.offset2
              .row
                %button{:type => "submit", :class => "btn btn-success"} Save these changes

    - else
      .edit.span7{:style => "display:none;"}
        %form{:method => "POST", :action => "#", :class => "form-inline"}
          %input{:type => "hidden", :name => "action", :value => "education"}
          .row.control-group
            %strong.span2 School
            - if @user.school.nil?
              %input.span3{:type => "text", :placeholder => "School", :name => "school"}
            - else
              %input{:type => "text", :value => "#{h @user.school}", :placeholder => "School",:name => "school"}
          .row.control-group
            %strong.span2 Major
            - if @user.major.nil?
              %input.span3{:type => "text", :placeholder => "Major", :name => "major"}
            - else
              %input.span3{:type => "text", :value => "#{h @user.major}", :placeholder => "Major", :name => "major"}
          .row.control-group
            %strong.span2 Minor
            - if @user.minor.nil?
              %input.span3{:type => "text", :placeholder => "Minor", :name => "minor"}
            - else
              %input.span3{:type => "text", :value => "#{h @user.minor}", :placeholder => "Minor", :name => "minor"}
          .row.control-group
            %strong.span2 Class
            - if @user.class.nil?
              %input.span3{:type => "text", :placeholder => "Class (YYYY)", :name => "class"}
            - else
              %input.span3{:type => "text", :value => "#{h @user.class.strftime('%Y')}", :placeholder => "Class (YYYY)", :name => "class"}
            %span.help-inline.hide Must be in the form YYYY
          .row.control-group
            %strong.span2 GPA
            - if @user.gpa.nil?
              %input.span3{:type => "text", :placeholder => "GPA", :name => "gpa"}
            - else
              %input.span3{:type => "text", :value => "#{h @user.gpa}", :name => "gpa", :placeholder => "GPA"}
            %span.help-inline.hide Must be a number
          .row
            .span3.offset2
              .row
                %button{:type => "submit", :class => "btn btn-success"} Save these changes

    .info.span5
      %table.table.table-condensed
        - unless @user.school.nil?
          %tr
            %th School
            %td=h @user.school
        - unless @user.major.nil?
          %tr
            %th Major
            %td=h @user.major
        - unless @user.minor.nil?
          %tr
            %th Minor
            %td=h @user.minor
        - unless @user.class.nil?
          %tr
            %th Class
            %td=h @user.class.strftime('%Y');
        - unless @user.gpa.nil?
          %tr
            %th GPA
            %td=h @user.gpa
          
%hr

/ work experience
#experience
  %form{:method => "POST", :action => "#"}
    %input{:type => "hidden", :name => "action", :value => "work"}
    .row
      .span5
        %h2
          Work Experience
          %i{:class => "icon-plus add-icon"}

      / work experience add form
      .add.span9{:style => "display:none"}
        %hr
        %h4 Add work experience
        %br/
        .row
          .span2
            %input{:type => "text", :placeholder => "Position", :name => "position", :class => "span2"}
          .span2
            %input{:type => "text", :placeholder => "Place", :name => "place", :class => "span2"}
          .span2{:class => "input-prepend"}
            %span{:class => "add-on"} Start
            %input{:type => "text", :placeholder => "MM/YYYY", :name => "start_date", :class => "dateinput"}
          .span2{:class => "input-prepend"}
            %span{:class => "add-on"} End
            %input{:type => "text", :placeholder => "MM/YYYY", :name => "end_date", :class => "dateinput"}
          %br/
          .span8
            %textarea{:class => "span8", :name => "desc", :placeholder => "Description" }
          %br/
          .span5
            %button{:type => "submit", :class => "btn btn-success"} Save changes
        %hr

      .info.span9
        - if @experiences.nil? || @experiences.length.zero?
          .row
            .alert.alert-warning.span6 You haven't added any extracurriculars.
        -else
          - @experiences.each do |e|
            - unless e.deleted?
              .row
                .span8
                  %span
                    %strong=h e.position
                    %span.muted at
                    %strong=h e.place
                  .pull-right
                    %a{:class => "remove", :href => "profile/delete/experience/#{h e.id}"}
                      %i{:class => "icon-remove"}
                .span8
                  .muted= "#{h e.start_date.strftime('%B %Y')} to #{h e.end_date.strftime('%B %Y')}"
                .span8
                  =h e.desc.gsub("\n", "<br />")
              %br/

%hr

/ extra curriculars
#extracurricular
  %form{:method => "POST", :action => "#"}
    %input{:type => "hidden", :name => "action", :value => "extracurricular"}
    .row
      .span5
        %h2
          Extracurricular Activites
          %i{:class => "icon-plus add-icon"}

      / extracurricular add form
      .add.span9{:style => "display:none"}
        %hr
        %h4 Add an extracurricular activity
        %br/
        .row
          .span2
            %input{:type => "text", :placeholder => "Position", :name => "position", :class => "span2"}
          .span2
            %input{:type => "text", :placeholder => "Place", :name => "place", :class => "span2"}
          .span2{:class => "input-prepend"}
            %span{:class => "add-on"} Start
            %input{:type => "text", :placeholder => "MM/YYYY", :name => "start_date", :class => "dateinput"}
          .span2{:class => "input-prepend"}
            %span{:class => "add-on"} End
            %input{:type => "text", :placeholder => "MM/YYYY", :name => "end_date", :class => "dateinput"}
          %br/
          .span8
            %textarea{:class => "span8", :name => "desc", :placeholder => "Description" }
          %br/
          .span5
            %button{:type => "submit", :class => "btn btn-success"} Save changes
        %hr

      .info.span9
        - if @extracurriculars.nil? || @extracurriculars.length.zero?
          .row
            .alert.alert-warning.span6 You haven't added any extracurriculars.
        -else
          - @extracurriculars.each do |e|
            - unless e.deleted
              .row
                .span8
                  %span
                    %strong=h e.position
                    %span.muted at
                    %strong=h e.place
                  .pull-right
                    %a{:class => "remove", :href => "profile/delete/extracurricular/#{h e.id}"}
                      %i{:class => "icon-remove"}
                .span8
                  .muted= "#{h e.start_date.strftime('%B %Y')} to #{h e.end_date.strftime('%B %Y')}"
                .span8
                  =h e.desc.gsub("\n", "<br />")
              %br/

%hr

/ personal
#personal
  %form{:action => "#", :method => "POST"}
    %input{:type => "hidden", :name => "action", :value => "personal"}
    .row
      .span5
        %h2
          Personal
          %i.edit-icon{:class => "icon-pencil"}
      .info.span5
        %table.table.table-condensed
          %tr
            %th Primary email
            %td=h @user.email
          - unless @user.secondary_email.nil?
            %tr
              %th Personal email
              %td=h @user.secondary_email
          - unless @user.interest1.nil? || @user.interest1 == ""
            %tr
              %th Interest one
              %td=h @user.interest1
          - unless @user.interest2.nil? || @user.interest2 == ""
            %tr
              %th Interest two
              %td=h @user.interest2
          - unless @user.interest3.nil? || @user.interest3 == ""
            %tr
              %th Interest three
              %td=h @user.interest3

      .edit.span9{:style => "display:none;"}
        .row{:style => "padding-bottom:18px;"}
          .span2 Primary email
          .span4=h @user.email
        .row
          %strong.span2 Personal email
          .span3
            %input{:type => "text", :value => "#{h @user.secondary_email}", :name => "secondary_email"}
        .row
          %strong.span2 Interest one
          .span3
            %select{:name => "interest1"}
              - if @user.interest1.nil? || @user.interest1 == ""
                %option{:value => "", :selected => "selected"} Select
              - else
                %option{:value => "#{h @user.interest1}"}=h @user.interest1
              - @interests.each do |i|
                - unless @user.interest1 == i
                  %option{:value => "#{i}"}= i

        .row
          %strong.span2 Interest two
          .span3
            %select{:name => "interest2"}
              - if @user.interest2.nil? || @user.interest2 == ""
                %option{:value => "", :selected => "selected"} Select
              - else
                %option{:value => "#{h @user.interest2}"}=h @user.interest2
              - @interests.each do |i|
                - unless @user.interest2 == i
                  %option{:value => "#{i}"}= i
        .row
          %strong.span2 Interest three
          .span3
            %select{:name => "interest3"}
              - if @user.interest3.nil? || @user.interest3 == ""
                %option{:value => "", :selected => "selected"} Select
              - else
                %option{:value => "#{h @user.interest3}"}=h @user.interest3
              - @interests.each do |i|
                - unless @user.interest3 == i
                  %option{:value => "#{i}"}= i

        .row
          .span5.offset2
            %button{:type => "submit", :class => "btn btn-success"} Save these changes

%hr

.row
  .span5
    %h2 Uploads
/upload photo
.row
  .span2
    %a#upload-photo.btn{:style => "width:120px;"}
      %i.icon-picture
      Upload photo
  .span2
    %a#upload-resume.btn{:style => "width:120px;"}
      %i.icon-file
      Upload resume
%br/
